@using Activity_3.Models
@model Tuple<List<Customer>, Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "customerInfo"
    };
}

<div id="mainBody">
    @using (Ajax.BeginForm("OnSelectCustomer", "Customer", ajaxOptions, new { id = "CustomerForm" }))
    {
        @Html.AntiForgeryToken()

        var selected = false;
        foreach (var customer in Model.Item1)
        {
            if (Model.Item2 == customer)
            {
                selected = true;
            }
            else
            {
                selected = false;
            }
            @Html.RadioButton("CustomerNumber", customer.ID, selected, new { onchange = "$('#CustomerForm').trigger('submit')" })
            @Html.Label(customer.Name)
            <br />
        }
        <input type="submit" id="SubmitButton" value="Display Details" />
    }
</div>
        <br />
<!-- insert a partial view here. Show customer details. Pass the second item of the tuple model-->
<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomersDetails.cshtml", Model.Item2)
</div>
